{% extends 'admin/pages/bill/template.html.twig' %}

{% set page_title %}Liste des devis{% endset %}
{% set submenuActive = "Devis" %}

{% block main_content %}
    <div class="main-content">
        <div class="default-page">
            <div class="col-1">
                <div class="default-page-content">
                    <div id="quotations" class="invoice-form"
                         data-donnees="{{ donnees }}"
                         data-society="{{ society }}"
                         data-items="{{ items }}"
                         data-taxes="{{ taxes }}"
                         data-unities="{{ unities }}"
                         data-products="{{ products }}"
                         data-customers="{{ customers }}"
                         data-sites="{{ sites }}"
                         data-status="{{ status }}"
                    >
                        {% include "dashboard/layout/components/spinner.html.twig" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
