<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% set title_page = "Facture" %}

{% include "user/pdf/bill/components/footer.html.twig" %}

<div class="main facture">
    <div class="header">
        <div class="image">
            {% if elem.logo %}
                <img src="{{ elem.logo }}" alt="Logo société">
            {% endif %}
        </div>

        <div class="bloc-table">
            <div class="title"><b>Client</b></div>
            <div class="content"><b>{{ elem.toName }}</b></div>
        </div>
        <div class="bloc-table">
            <div class="title"><b>Date</b></div>
            <div class="content"><b>{{ elem.dateAt | date('d/m/Y') }}</b></div>
        </div>

        <div class="bloc-table">
            <div class="title"><b>Facture N°</b></div>
            <div class="content"><b>{{ elem.numero }}</b></div>
        </div>
    </div>
    <div style="margin-top: 8px">
        <h1><b>FNAIM FORMATION AIX MARSEILLE PROVENCE</b></h1>
        <div style="font-size: 14px; margin-top: 4px;"><b>11 Place du Général de Gaulle</b></div>
        <div style="margin-top: 8px; margin-bottom: 4px; font-size: 11px;">
            <div><b>CS 40543</b></div>
            <div><b>13231 MARSEILLE CEDEX 01</b></div>
        </div>
    </div>

    <div class="infos-adr" style="margin-bottom: 24px;">
        <div class="infos-fnaim">
            <table>
                <tr>
                    <td>Tél</td>
                    <td>:</td>
                    <td>{{ elem.fromPhone1 }}</td>
                </tr>
                <tr>
                    <td>Mail</td>
                    <td>:</td>
                    <td>{{ elem.fromEmail }}</td>
                </tr>
                <tr>
                    <td>R.C.S.</td>
                    <td>:</td>
                    <td>833488059</td>
                </tr>
                <tr>
                    <td>SIRET</td>
                    <td>:</td>
                    <td>83348805900027</td>
                </tr>
                <tr>
                    <td>N/Id CEE</td>
                    <td>:</td>
                    <td>FR32833488059</td>
                </tr>
                <tr>
                    <td><div style="color: #FFFFFF;">--------------------</div></td>
                    <td><div style="color: #FFFFFF;">----</div></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div class="infos-client">
            <div class="crochet-up-left"></div>
            <div class="crochet-up-right"></div>
            <div style="margin-top: 12px; margin-bottom: 24px;">
                <div><b>{{ elem.toName }}</b></div>
                <div><b>{{ elem.toAddress }}</b></div>
            </div>
            <div class="crochet-down-left"></div>
            <div class="crochet-down-right"></div>
        </div>
    </div>

    <div class="tableau">
        <table class="table">
            <thead>
            <tr>
                <th>Référence</th>
                <th>Désignation</th>
                <th>Quantité</th>
                <th>P.U. HT</th>
                <th>Remise HT</th>
                <th>Montant HT</th>
                <th style="border-right: none;">TVA</th>
            </tr>
            </thead>
            <tbody>
            <tr class="line last-line">
{#                <td style="height: 150px">{{ ordre.formation ? "F" ~ ordre.formation.id : "A" ~ ordre.academie.id }}</td>#}
{#                <td>#}
{#                    <div>FORMATIONS PROFESSIONNELLES DU</div>#}
{#                    <div>#}
{#                        {% if ordre.formation %}#}
{#                            {{ ordre.formation.dateStart | date('d/m/Y') }}#}
{#                            {% if ordre.formation.dateStart != ordre.formation.dateEnd %}#}
{#                                {{ ordre.formation.dateEnd | date('d/m/Y') }}#}
{#                            {% endif %}#}
{#                        {% else %}#}
{#                            {{ ordre.academie.dateStart | date('d/m/Y') }}#}
{#                        {% endif %}#}
{#                    </div>#}
{#                    <div>THEME : {{ ordre.formation ? ordre.formation.libelle : ordre.academie.libelle }}</div>#}
{#                </td>#}

{#                {% set priceHt = ordre.formation ? ordre.formation.montantHt : ordre.academie.montantHt %}#}
{#                {% set priceTtc = ordre.formation ? ordre.formation.montantTtc : ordre.academie.montantTtc %}#}
{#                {% set priceTotalHt = priceHt * ordre.participants %}#}
{#                {% set priceTotalTtc = priceTtc * ordre.participants %}#}

{#                <td style="text-align: right;">{{ ordre.participants }},000</td>#}
{#                <td style="text-align: right;">{{ priceHt | price }}</td>#}
{#                <td style="text-align: right;"></td>#}
{#                <td style="text-align: right;">{{ priceTotalHt | price }}</td>#}
{#                <td style="text-align: center; border-right: none;">5</td>#}
            </tr>
            <tr class="line last-line">
                <td style="height: 150px"></td>
                <td>
                    <div>Numéro de déclaration d'activité n°</div>
                    <div>93131698713 - Délivré le 21 février 2018</div>
                    <div>par la Préfecture des Bouches-du-Rhône</div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td style="border-right: none;"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="paid">
        <div class="tableau tableau-1">
            <table class="table">
                <thead>
                <tr>
                    <th>Code</th>
                    <th>Base HT</th>
                    <th>Taux TVA</th>
                    <th style="border-right: none;">Montant TVA</th>
                </tr>
                </thead>
                <tbody>
                <tr class="line last-line">
                    <td style="text-align: center;">5</td>
                    <td style="text-align: right;">5</td>
                    <td style="text-align: right;">20,00</td>
                    <td style="text-align: right; border-right: none;">5</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="tableau tableau-2">
            <table class="table">
                <tbody>
                <tr class="line-paid">
                    <th>Total HT</th>
                    <td style="border-bottom: none;">{{ elem.totalHt | price }}</td>
                </tr>
                <tr class="line-paid">
                    <th class="borderBottom"><b>Net HT</b></th>
                    <td><b>{{ elem.totalHt | price }}</b></td>
                </tr>
                <tr class="line-paid">
                    <th>Total TVA</th>
                    <td style="border-bottom: none;">{{ elem.totalTva | price }}</td>
                </tr>
                <tr class="line-paid">
                    <th>Total TTC</th>
                    <td style="border-bottom: none;">{{ elem.totalTtc | price }}</td>
                </tr>
                <tr class="line-paid">
                    <th><b>NET A PAYER</b></th>
                    <th>{{ elem.total | price }}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="infos-bank" style="text-align: center; margin-top: 24px;">
        <div><b>Renseignements bancaires</b> : {{ elem.fromBankName }}</div>
        <div>{{ elem.fromBankIban }} - CODE BIC : {{ elem.fromBankBic }}</div>
        <div>Code Banque : 30077 Guichet : 04975 N° de compte : 14798800200 Clé RIB : 68</div>
        <div style="margin-top: 12px;">
            <div>Pénalités pour retard de paiement, 1,5 fois le taux d'intérêt légal sur la somme restant dues</div>
            <div>En cas de retard de paiement, indemnité forfaitaire pour frais de recouvrement : 40 euros</div>
        </div>
    </div>
</div>

</body>
</html>
