<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

{% set title_page = "Facture" %}

{% include "user/pdf/bill/components/footer.html.twig" %}

<div class="main">
    <div class="header">
        <div class="col-1">
            {% if elem.logo %}
                <img src="{{ elem.logo }}" class="logo" alt="Logo société">
            {% endif %}
        </div>
        <div class="col-2">
            {% if elem.fromSiren %}
                <div><b>n° Siren/Siret : </b>{{ elem.fromSiren }}</div>
            {% endif %}
            {% if elem.fromTva %}
                <div><b>n° TVA UE : </b>{{ elem.fromTva }}</div>
            {% endif %}
            <div><b>Email : </b>{{ elem.fromEmail }}</div>
            <div><b>Téléphone : </b>{{ elem.fromPhone1 }}</div>
        </div>
        <div class="col-3">
            <div class="numero-facture">Facture n°{{ elem.numero }}</div>
            <div><b>Date de facture : </b>{{ elem.dateAt | date('d/m/Y') }}</div>
            <div><b>Date d'échéance : </b>{{ elem.dueAt | date('d/m/Y') }}</div>
        </div>
    </div>

    <div class="letter">
        <div class="from">
            <div class="name-society"><b>{{ elem.fromName }}</b></div>
            <div>{{ elem.fromAddress }}</div>
            <div>{{ elem.fromComplement }}</div>
            <div>{{ elem.fromZipcode }}, {{ elem.fromCity }}</div>
        </div>
        <div class="to">
            <div><b>Destinataire</b></div>
            <div>{{ elem.toName }}</div>
            <div>{{ elem.toAddress }}</div>
            <div>{{ elem.toComplement }}</div>
            <div>{{ elem.toZipcode }}, {{ elem.toCity }}</div>
        </div>
    </div>

    <div class="products">
        <div class="item item-header">
            <div class="col col-1">Référence</div>
            <div class="col col-2">Designation</div>
            <div class="col col-3">Quantité</div>
            <div class="col col-4">Unité</div>
            <div class="col col-5">P.U.<br>HT</div>
            <div class="col col-6">Montant<br>HT</div>
            <div class="col col-7">Code<br>TVA</div>
        </div>

        {% for el in products %}
            <div class="item {{ loop.index0 % 2 == 0 ? "item-even" : "item-odd" }}">
                <div class="col col-1">{{ el.reference }}</div>
                <div class="col col-2">
                    <div>{{ el.name }}</div>
                    <div>{{ el.content | raw }}</div>
                </div>
                <div class="col col-3">{{ el.quantity }}</div>
                <div class="col col-4">{{ el.unity }}</div>
                <div class="col col-5">{{ el.price | price }}</div>
                <div class="col col-6">{{ el.price != 0 ? ((el.quantity * el.price) | price) : "" }}</div>
                <div class="col col-7">{{ el.rateTva }}%</div>
            </div>
        {% endfor %}
    </div>

    <div class="recap">
        <div class="tvas-col">
            <div class="tvas">
                <div class="item item-header">
                    <div class="col col-1">Code</div>
                    <div class="col col-2">Base HT</div>
                    <div class="col col-3">Taux TVA</div>
                    <div class="col col-4">Montant TVA</div>
                </div>

                <div class="item">
                    <div class="col col-1"></div>
                    <div class="col col-2"></div>
                    <div class="col col-3"></div>
                    <div class="col col-4"></div>
                </div>
            </div>
            <div class="note">
                {{ elem.note }}
            </div>
        </div>
        <div class="totaux-col">
            <div class="totaux">
                <div class="item">
                    <div class="col col-1">Total HT</div>
                    <div class="col col-2">{{ elem.totalHt | price }}</div>
                </div>
                <div class="item">
                    <div class="col col-1">Total Remise HT</div>
                    <div class="col col-2">{{ elem.totalRemise | price }}</div>
                </div>
                <div class="item">
                    <div class="col col-1"><b>NET HT</b></div>
                    <div class="col col-2">{{ (elem.totalHt - elem.totalRemise) | price }}</div>
                </div>
                <div class="item">
                    <div class="col col-1">Total TVA</div>
                    <div class="col col-2">{{ elem.totalTva | price }}</div>
                </div>
                <div class="item">
                    <div class="col col-1"><b>Total TTC en euros</b></div>
                    <div class="col col-2"><b>{{ elem.totalTtc | price }}</b></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        {{ elem.footer }}
    </div>
</div>

</body>
</html>
