<div><b>Destinataire</b></div>
<div>{{ (elem.siName ? "S.D.C " ~ elem.siName : "") | spacevoid | raw }}</div>
<div>{{ elem.toName }}</div>
<div>{{ elem.toAddress }}</div>
<div>{{ elem.toAddress2 | spacevoid | raw }}</div>
<div>{{ elem.toComplement | spacevoid | raw }}</div>
<div>{{ elem.toZipcode }}, {{ elem.toCity }}</div>
<div>{{ elem.toCountry | spacevoid | raw }}</div>