<div><b>Expéditeur</b></div>
<div>{{ "" | spacevoid | raw}}</div>
<div>{{ elem.fromName }}</div>
<div>{{ elem.fromAddress }}</div>
<div>{{ elem.fromAddress2 | spacevoid | raw }}</div>
<div>{{ elem.fromComplement | spacevoid | raw  }}</div>
<div>{{ elem.fromZipcode }}, {{ elem.fromCity }}</div>
<div>{{ elem.fromCountry | spacevoid | raw  }}</div>